<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433731039140-7nv19iai74kt2fj6tu5lvmtfugb820gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433731039140-7nv19iai74kt2fj6tu5lvmtfugb820gn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433731039140-cja9feklc402mljei44omf785m0gk2rm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXWQE2fo-7ZMU9iv00G22rDh7ROPgjbPI</string>
	<key>GCM_SENDER_ID</key>
	<string>433731039140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.board.game.boardmate</string>
	<key>PROJECT_ID</key>
	<string>boardmate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>boardmate-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433731039140:ios:86052b00e3959f8ec91b31</string>
</dict>
</plist>